.container {
    padding: 0 2rem;
     display: flex;
     /* default flex-direction: row;*/
     justify-content: space-around;
     align-items: center;
}
.main {
    min-height: 10vh;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title a {
    color: #0070f3;
    text-decoration: none;
}
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
}
  .title {
    margin: 0;
    line-height: .5;
    font-size: 4rem;
}
  .title,
  .description,
  .loginLink {
    text-align: center;
}
.features,
.entertainer,
.user,
.nonUser{
    height: 50vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.features{
    display: flex;
    position: absolute;
    align-items: left;
    justify-content: left;
}
.entertainer{
    display: flex;
}
.user{
    display: flex;
}
.nonUser{
    display: flex;
    position: absolute;
    align-items: right;
    justify-content: right;
}