.header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0070f3;
    text-align: center;
    font-size: 2rem;
    min-height: 10vh;
    padding: 4rem 0;
    flex: 1;
    flex-direction: column;
}