.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description,
.loginLink {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.loginLink {
  font-size: 0.95rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/* Form Styling Start */

.form {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.formMessage {
  text-align: center;
  margin-bottom: 1rem;
}
.formMessageSuccess {
  color: var(--color-success);
}
.formMessageError {
  color: var(--color-error);
}
.formInputGroup {
  margin-bottom: 1rem;
}
.formInput {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
}
.formInput:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}
.formInputError {
  color: var(--color-error);
  border-color: var(--color-error);
}
.formInputErrorMessage {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}
.formButton {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}
.formButton:hover {
  background: var(--color-primary-dark);
}
.formButton:active {
  transform: scale(0.98);
}
.formText {
  text-align: center;
}
.formLink {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}
.formLink:hover {
  color: var(--color-primary-dark);
}
.formLink:hover {
  text-decoration: underline;
  text-decoration: none;
}

/* Form Styling End */

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
