body {
  --color-primary: #0070f3;
  --color-warning: #59656f;
  --color-secondary: #0070f3;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/* Form Styling Start */

.form {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.card{

}
.card-body{

}
.form-control{
  
}
.errorText {
  color: var(--color-error);
}

.warningText {
  color: var(--color-warning);
}

.form-group {
  margin-bottom: 1rem;
}

.p-4{
  padding: 4px;
}

.shadow-lg{
  
  /*Put in some shadow*/
}
.formInput {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
}
.formInput:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}
.formInputError {
  color: var(--color-error);
  border-color: var(--color-error);
}
.formInputErrorMessage {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}
.formButton {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}
.formButton:hover {
  background: var(--color-primary-dark);
}
.formButton:active {
  transform: scale(0.98);
}
.formText {
  text-align: center;
}
.formLink {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}
.formLink:hover {
  color: var(--color-primary-dark);
}
.formLink:hover {
  text-decoration: underline;
  text-decoration: none;
}

/* Form Styling End */

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
